.home {
    display: flex;
}

@media only screen and (max-width: 898px) {
  .home {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 466px) {
    .home {
      display: flex;
      flex-direction: column;
    }
    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative;
      }
  }